uvicorn~=0.29.0
gunicorn~=22.0.0
fastapi~=0.111.0
sqlmodel~=0.0.8
SQLAlchemy~=2.0.29
aiohttp~=3.9.2
aiomysql~=0.2.0
mongoengine~=0.27.0
orjson~=3.9.15
python-multipart~=0.0.9
alembic~=1.13.1
python-binance==1.0.17
websockets==11.0.3
cryptography~=40.0.2
redis~=4.5.5
TA-Lib~=0.4.28

pydantic~=2.7.1
pydantic[email]
pydantic-settings~=2.2.1
